* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  outline: none;
}
body {
  overflow-x: hidden;
  color: #343434;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.navbar-custom {
  transition: background-color 0.3s;
}
button.navbar-toggler {
  background: #748182;
}
.navbar-transparent {
  background-color: transparent !important;
  padding: 20px 0 30px;
  background: none;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.navbar-transparent .navbar-nav li {
  font-size: 14px;
  margin: 15px 20px 0;
  padding: 5 10px;
  background: none;
  cursor: pointer;
  position: relative;
}
.nav-item a {
  color: white;
  text-decoration: none;
}

.navbar-scrolled {
  background: #fff;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
  min-height: 60px;
  line-height: 60px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
}
.navbar-scrolled .navbar-nav li {
  font-size: 14px;
  margin: 5px 20px 0;
  padding: 5 10px;
  background: none;
  cursor: pointer;
  position: relative;
}
.navbar-scrolled .navbar-nav li a {
  color: #111 !important;
  text-decoration: none;
}
.navbar-scrolled .logo {
  color: #111;
}
.logo {
  padding-top: 5px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
#home {
  width: 100%;
  height: 100vh;
  background: url(../imgs/bg.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.bg-content {
  position: relative;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  color: white;
}
.bg-content h4 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}
.bg-content h1 {
  font-size: 60px;
  line-height: 70px;
}
.social-icons i {
  font-size: 14px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  color: white;
}
.sec-pad {
  padding: 100px 0;
}
.about-container {
  width: 75%;
  margin: auto;
}
.about-img {
  position: relative;
  padding-left: 30px;
}
.about-img::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0px;
  bottom: -30px;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
}
.prog-color {
  background-color: #111;
  border-radius: 5px;
}
.progress {
  margin-bottom: 30px;
  height: 1.5rem;
}
.about-info h3 {
  font-weight: 800;
  line-height: 33px;
  color: rgb(52, 52, 52);
  font-size: 30px;
  margin: 0;
}
.about-info span {
  color: #999;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.about-info p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  color: #748182;
  line-height: 24px;
}
.cv-btn {
  padding: 10px 30px;
  background: #1c1c1c;
  border-radius: 5px;
  color: white;
  border: none;
  margin-top: 20px;
  transition: all 0.5s;
}
.contact-btn {
  padding: 10px 30px;
  background: white;
  border-radius: 5px;
  color: #1c1c1c;
  margin-top: 20px;
  border: 1px solid #1c1c1c;
  transition: all 0.5s;
}
.cv-btn:hover {
  background: white;
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
}
.contact-btn:hover {
  background: #1c1c1c;
  color: white;
  border: none;
}
#services {
  background-color: #f7f7f7;
}
.sectitle {
  margin-bottom: 80px;
  text-align: center;
}
.sectitle h2 {
  font-weight: 900;
  font-size: 40px;
  position: relative;
  z-index: 3;
  display: inline-block;
}
.sectitle h2::after {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -1;
}
.service-container {
  width: 75%;
  margin: auto;
}
.service-card i {
  font-size: 25px;
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #f4f4f4;
  border-radius: 50%;
  transition: all 0.5s;
}
.service-card i:hover {
  background-color: #1c1c1c;
  color: white;
}
.service-card {
  background-color: white;
  padding: 50px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  padding-right: 20px;
}
.inner {
  padding-right: 20px;
}
.service-card h3 {
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 18px;
}
.service-card p {
  word-spacing: 2px;
  font-size: 14px;
  line-height: 22px;
  color: #748182;
}
.work-container {
  width: 75%;
  margin: auto;
}
.portfolio-menu button {
  margin: 0 15px;
  color: #222;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: white;
  margin-bottom: 50px;
}
.portfolio-img {
  position: relative;
  margin-bottom: 40px;
}
.overlay-info {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.overlay-info h5 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 15px;
}
.overlay-info i {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 50%;
  border: 1px solid #111;
  background: #111;
  color: #eee;
  font-size: 13px;
}
.overlay-info i:hover {
  background: #fffffff2;
  color: #111;
  cursor: pointer;
}
.img-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #fffffff2;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}
.portfolio-img:hover .img-overlay {
  opacity: 1;
}
#clients {
  background-color: #f7f7f7;
}
.client-container {
  width: 75%;
  margin: auto;
}
.carousel-item {
  text-align: center;
  padding: 3rem;
}
.carousel-item p {
  word-spacing: 2px;
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
}
.testimonial-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.carousel-indicators [data-bs-target] {
  background-color: #6c757d;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.carousel-indicators .active {
  background-color: #495057;
}
.data-item i {
  font-size: 30px;
  margin-bottom: 15px;
}
.data-item h3 {
  font-weight: 900;
  margin-bottom: 15px;
}
.data-item p {
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
}
#team {
  background-color: #f7f7f7;
}
.container-team {
  width: 75%;
  margin: auto;
}
.text-area {
  padding: 25px;
  color: #fff;
  text-align: center;
  background-color: #5b5b5b;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.img-area {
  position: relative;
  overflow: hidden;
}
.img-area img {
  transition: all 0.4s ease 0s;
}
.img-area:hover img {
  transform: scale(1.2);
}
.team-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #fffffff2;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
  transform: rotateY(180deg) scale(0.5, 0.5);
}
.team-item:hover .team-overlay {
  opacity: 1;
  transform: rotateY(0) scale(1, 1);
}
.team-socials {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.team-socials i {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 50%;
  border: 1px solid #111;
  background: #111;
  color: #eee;
  font-size: 20px;
  margin-right: 10px;
  text-align: center;
}

.team-socials i:hover {
  background: #fffffff2;
  color: #111;
  cursor: pointer;
}
.container-contact {
  width: 65%;
  margin: auto;
}
.contact-item {
  margin-bottom: 50px;
}
.contact-item i {
  font-size: 25px;
  margin-bottom: 15px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #f4f4f4;
  border-radius: 50%;
  transition: all 0.5s;
}
.contact-item i:hover {
  background: #111;
  color: white;
  cursor: pointer;
}
.contact-item h6 {
  font-weight: 700;
  margin-bottom: 10px;
}
.contact-item p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
}

.contact-form input {
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background: #f4f4f4;
}
textarea {
  margin-top: 15px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background: #f4f4f4;
  height: 160px;
  max-height: 160px;
  max-width: 100%;
}
.form-btn {
  padding: 10px 40px;
  background: #1c1c1c;
  color: #eee;
  border-radius: 5px;
  border: #1c1c1c;
  margin-right: 900px;
  margin-top: 10px;
}
footer p {
  font-size: 13px;
  word-spacing: 2px;
  line-height: 1.6;
  color: rgb(116, 129, 130);
  margin: 0px;
}
footer {
  background: rgb(28, 28, 28);
  padding: 30px;
}
